owlbear/
tokeny_BG/

# Ignoruj tylko śmieciowe pliki sesji
**/.obsidian/workspace.json
**/.obsidian/workspace-mobile.json
**/.obsidian/graph.json
**/.obsidian/cache/
**/.obsidian/indexed_db/

# --- Systemowe (IGNORUJEMY) ---
.DS_Store
Thumbs.db
